doctype html
html

head
    title Login Page
    link(rel="stylesheet" type="text/css" href="inputPageStyle.css")
    link(rel="stylesheet" type="text/css" href="loginStyle.css")
    script(src="login.js")

body
    if (loggedIn)
        include ../header/loggedIn.html
        div(class="box")
            h1 You are logged in!
    else
        include ../header/loggedOut.html

        h1 Login
        
        div(class="inputBox")
            p
                div(class="Label") Username:
                input(class="textbox" id="username" type="text")
            p
                div(class="Label") Password:
                input(class="textbox" id="password" type="password")
            button(class="submit" onclick="login()") Login