form {
    background-color: rgb(245, 209, 165);
    margin: auto;
    margin-top: 40px;
    margin-bottom: 20px;
    height: 200px;
    width: 450px;
    padding-top: 20px;
    padding-right: 35px;
    text-align: right;
    font-size: larger;
    line-height: 60px;
}

input {
    font-size: large;
    width: 250px;
    height: 25px;
}

button {
    background-color: rgb(238, 177, 102);
    width: 200px;
    height: 43px;
    color: rgb(15, 85, 85);
    font-family: Calibri, Helvetica, sans-serif;
    text-align: center;
    font-size: 27px;
    border: 0;
}

button:hover {
    background-color: rgb(230, 164, 84);
}

button:active {
    background-color: rgb(207, 146, 71);
}