<link rel="stylesheet" type="text/css" href="/header.css">
<script src="/logout.js"></script>
<header id="top">
    Welcome
    <button class="logout" onclick="logout();">
        Logout
    </button>
</header>
<div class="links">
    <a href="/" onclick="return confirmation();" class="linkB">
        Home
    </a>
    <a href="/users" onclick="return confirmation();" class="linkB">
        Users
    </a>
    <a href="/orderform" onclick="return confirmation();" class="linkB">
        Order Form
    </a>
    <a href="/profile" onclick="return confirmation();" class="linkB">
        Profile
    </a>
</div>